*{
    box-sizing: border-box!important;
    margin: 0;
    padding:0;
    /* outline:2px solid yellow */
}
/* ###################### general classes ############ */
.logo{
    font-size:2rem;
    font-weight: bold;
}
.font-primary{
    font-family: 'Roboto', sans-serif;
}
.font-secondary{
    font-family: 'Lato', sans-serif;
}


img{
    max-width: 100%;
}
.navbar{
    margin-bottom: 2em;
}
/* ##################landing section of homepage################### */
#landing{
    max-width: 1500px;
    margin: 0 auto;
    margin-bottom: 5em;
}

.hero-left{
    padding: 1em;
}
.hero-left-subcontainer{
    max-width: 600px;
}
.hero-title,.hero-subtitle
{
    font-weight: 900;
    margin: 0;
}
.hero-subtitle{
    font-size:1.5rem;
}
.hero-title{
    font-size: clamp(1.8em,4vw,6em);
    margin-bottom: 1.5em;
}
.hero-desc{
    width: 100%;
    line-height: 1.5;
    font-size: 1.25rem;
    font-size: clamp(1em,1.5vw,3em);
    margin-bottom: 4em;
    text-align: justify;
}
.hero-form{
    width: 100%;
}


.hero-right{
    background:url('images/hero.jpg');
    background-size: cover;
    background-position:  top center;
}

@media screen and (min-width:650px)
{
    .hero-left,.hero-right{
        width: 50%;
    }
}

/* ########### testimonial section of homepage################# */


.testimonial-text-wrapper{
    display: flex;
    padding-top: 2em;
    justify-content: center;
    align-items: center;
}
.testimonial-img{
    /* background: #11B0BB42;
    background-blend-mode: multiply; */
    position: relative;
}

.testimonial-words{
    font-size: clamp(0.5rem,4vh,5rem);
    line-height:1.5;
    text-align: justify;
    margin: 1em 0;
    margin-bottom: 2em;
}
.person{
    font-weight: bold;
    text-transform:capitalize;
}
.testimonial-image-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width:650px)
{
    .person-testimonial{
        display: flex;
        justify-content: space-between;
    }
    .person-testimonial>div{
        width:48%;
    }
    
    .testimonial-img{
        padding: 2em;
        max-width: 70%;
     }
     .testimonial-text{
         max-width: 80%;

     }
}